<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spitter</title>
    <link rel="stylesheet" th:href="@{/resources/style.css}"
          type="text/css"></link>
</head>
<body>
<div id="header" th:include="page :: header"></div>

<div id="content">
    <h1>Register</h1>

    <form enctype="multipart/form-data" method="POST" th:object="${spitter}">
        <div class="errors" th:if="${#fields.hasErrors('*')}">
            <ul>
                <li th:each="err : ${#fields.errors('*')}"
                    th:text="${err}">Input is incorrect
                </li>
            </ul>
        </div>
        <label th:class="${#fields.hasErrors('firstName')}? 'error'">First Name</label>:
        <input th:class="${#fields.hasErrors('firstName')}? 'error'" th:field="*{firstName}"
               type="text"/><br/>

        <label th:class="${#fields.hasErrors('lastName')}? 'error'">Last Name</label>:
        <input th:class="${#fields.hasErrors('lastName')}? 'error'" th:field="*{lastName}"
               type="text"/><br/>

        <label th:class="${#fields.hasErrors('email')}? 'error'">Email</label>:
        <input th:class="${#fields.hasErrors('email')}? 'error'" th:field="*{email}"
               type="text"/><br/>

        <label th:class="${#fields.hasErrors('username')}? 'error'">Username</label>:
        <input th:class="${#fields.hasErrors('username')}? 'error'" th:field="*{username}"
               type="text"/><br/>

        <label th:class="${#fields.hasErrors('password')}? 'error'">Password</label>:
        <input th:class="${#fields.hasErrors('password')}? 'error'" th:field="*{password}"
               type="password"/><br/>

        <label>Profile Picture</label>:
        <input accept="image/jpeg,image/png,image/gif"
               name="profilePicture"
               type="file"/><br/>

        <input type="submit" value="Register"/>
    </form>
</div>
<div id="footer" th:include="page :: copy"></div>
</body>
</html>
